/* Style de la page*/
body {
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 5px 20px 5px;
}

/* Style de l'entete */
.haut {
    background-color: gainsboro;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

/* Style main */
main {
    padding: 10px;
    background-color: gainsboro;
}

/* Style de l'image */
figure {
    background-color: white;
    padding: 10px;
    margin: 0;
}

figure img {
    margin-top: 10px;
}

figcaption {
    font-size: 80%;
    margin-top: 10px;
}

/* Style section */
section {
    padding: 6px;
    margin-top: 10px;
}

h2 {
    font-size: 1.3em;
    margin: 35px;
}

.list {
    max-width: 500px;
    margin: auto;
}

.list li {
    text-align: left;
    margin-bottom: 15px;
}

/* Style du blockquote et du paragraphe */
.blo {
    text-align: left;
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    font-style: italic;
}

.manger em {
    margin-right: 13rem;
}

/* Style du pied de la page */
footer {
    background-color: gainsboro;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}
